

/************ Some or All Layout Pages **************/

.jumbotron{
  text-align: center;
}

body {
  background-image: url("assets/animalPrint1.gif");
}

.hidden{
  opacity: 0;
}


.ui.large.segment {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  top: 4em;
}

.ui.steps {
  margin-top: 5%;
}

.ui.steps .step.{
  font-weight: bold;
  border-width: 1.2rem;
  font-size: 1.2rem;
}
/*************Header****************/

.ui.large.inverted.menu.leopardNav {
  margin-bottom: 0;
}

h1 {
  color:#66FFFF;
}

h2 {
  color: #CBFFCC;
  font-size: 2em;
  padding-left: 2.3em;
  line-height: 0;
}

.item.leopardNav.title {
  text-align: center;
  padding: 0;
  margin-top: .5%;
}

.ui.inverted.menu a.item.leopardNav.title:active, .ui.inverted.menu a.item.leopardNav.title:hover {
  outline: none;
  background-color: black;
  color: white;
}


.ui.inverted.menu a.item:active, .ui.inverted.menu .dropdown.item:active, .ui.inverted.menu .link.item:active, .ui.inverted.menu a.item:active, .ui.link.inverted.menu .item:hover, .ui.inverted.menu .link.item:hover, .ui.inverted.menu a.item:hover, .ui.inverted.menu .dropdown.item:hover  {
  outline: 0;
  background-color: #66FFFF;
  color: white;
}

.ui.large.menu .item.leopardNav {
  line-height: 2.5rem;
  font-size: 1.5rem;
  color: #66FFFF;
}

/***********Access Denied *************/


div .access-denied.jumbotron {
  margin-top: 2em;
  width: 35%;
  margin-left: auto;
  margin-right: auto;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  border: 1px solid #e0e0e0; 
  background: #FFF5F5;
}

.jumbotron.access-denied h2{
  font-weight: 100;
  padding: .5em .5em .25em .5em;
  color: red;
  text-align: center;
}

p.access-denied {
  font-size: 1.2em;
  padding: 0 .5em 1em .5em;
  text-align: center;
}
/*********** Intro Page ***************/

.ui.large.segment.intro {
  background: none;
  border: none;
  box-shadow: none;
}

.ui.grid > .column:not(.row) {
  height:80%;
}
.ui.segment.pictureBox {
  background: black;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  margin-left: 1em;
  margin-right: 1em;
}

h3 {
  text-align: center;
  color: white;
  font-weight: 100;
  font-size: 1.5em
}

.column {
  border: 1em;
}

div .column {
  border: none;
}

/************* Make Presentations **********/   

.ui.large.segment.textEditor {
  padding: 0;
  font-size: 1.2em;
  background: none;
  border: none;
  box-shadow: none;
}

.ui.labeled.input.textEditor {
  font-size: 1.2em;
  margin-bottom: 1em;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}

.ui.label.textEditor {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  width: 30%;
}

.ui.labeled.input.textEditor:not([class*="corner labeled"]):not([class*="right labeled"]) > input {
  border-radius: 0px 15px 15px 0px;
  -moz-border-radius: 0px 15px 15px 0px;
  -webkit-border-radius: 0px 15px 15px 0px;
  border-left: 2px solid rgba(39, 41, 43, 0.95);
}

textarea .textEditor {

    margin: 0;
    height: 100%;
    width: 100%;
    padding: 1em;
    padding-top: 3em;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;   
}

.ui.steps.presentationCommands {
  margin-left: auto;
  margin-right: auto;
}

.segment.presentationCommands {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.ui.form textarea{
  height: 25rem;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  font-size: 1.2em;
}

.ui.button.create {
  margin-top: 2em;
  font-size: 1.3em;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background-color: white;
  width: 10em;
}
/************ Login/ Signup ***********************/
.ui.labeled.input:not([class*="corner labeled"]):not([class*="right labeled"]) > input {
  border-left: solid;
}
/************ Saved Presentations ****************/

.ui.segment.savedPresentations {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  top: 2em;
  padding: 0;
}

.ui.divided.list > .item {
  padding: 1em;
}

.ui.large.form.segment {
  width: 60%;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
.ui.large.form.segment.signup {
  font-size: 1.5em;
}

div#Title.header, div.right.floated.compact.ui.button {
  text-align: left;
  margin-top: auto;
  margin-bottom: auto;
  vertical-align: middle;
}

div#Title.header {
  font-size: 2em;
  padding: .5em .5em .5em 2em;

}


/*.ui.list .list > .item [class*="right floated"], .ui.list > .item [class*="right floated"] {
  vertical-align: middle;
  margin-top: 1em;
}

div.ui.divided.list {
  height: 100%;

}
div.ui.divided.list > div.item {
 margin: .5em;
 vertical-align: middle;
}*/

