<template name="slides">

  <style type="text/css">

    .slide{
      opacity: {{opacity}}; 
    } /*property is here for transitions */

    .ui.button.stopwatch{
        display: inline-block;
        border-radius: 5px;
        opacity: 80;
        padding: 8px;
        margin: 15px;
        position: fixed;
        bottom: 0;
        right: 0;
        width: 220px;
        height: 30px;
    }
    .ui.button.stopwatch{
        display: inline-block;
        border-radius: 5px;
        opacity: 80;
        padding: 8px;
        margin: 15px;
        position: fixed;
        bottom: 0;
        right: 0;
        width: 220px;
        height: 30px;
    }
    .ui.button.reset{
        display: inline-block;
        border-radius: 5px;
        opacity: 80;
        padding: 8px;
        margin: 15px;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100px;
        height: 30px;
    }
  </style>


  <div id="counter" class="ui huge label">
    {{_page}}/{{_slideLength}}
  </div>
  <div class="slide">
    
  {{#markdown}}
  {{markDownSource _page}}
  {{/markdown}}
  
  <div id="qrcode"></div>
    {{#if isPresentor}}
    <div id="#controller">
      <div class="ui button" id="prev">prev</div>
      <div class="ui button" id="next">next</div>
    </div>
    {{/if}}
    <div class="ui button" id="poll">quickPoll</div>
    
    <div class="ui button" id="thumbcheck">
      <i class="thumbs up icon"></i>
    </div>

  <div class="ui button reset" id="reset">
  </div>


  

  <div class="ui button stopwatch">
    <i class="wait icon"></i><strong>
    reset
  </strong>
  </div>
    <div class="ui button stopwatch" id="stopwatch">
      <i class="wait icon"></i><strong>
      <time id="stopwatch">{{ stopwatch }}</time>
    </strong>
    </div>
    {{/if}}

  </div>
  

</template>
