/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,800,700,600,300);

body {
  font-family: 'Open Sans';
  font-weight: 600;
  padding-bottom: 40px;
  color: #5a5a5a;
  line-height: 1.4em;
}

a {
  color: #40cb90;
}

a:hover, button:hover {
  cursor: pointer;
  color: #53D09B;
}

form {
  margin-top: 60px;
}

#presentation-list {
  margin-top: 60px;
}

#access-denied {
  padding-right: 25%;
  padding-left: 25%;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
.navbar {
  border-radius: 0px;
  margin-bottom: 0px;
  background: #40cb90;
  border: none;
}

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}

.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}

.navbar-wrapper .navbar .container {
  width: auto;
}

#main-header {
  font-size: 1.6em;
  color: white;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 450px;
  margin-bottom: 50px;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  margin-bottom: 100px;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 450px;
  background-color: #777;
}

.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 450px;
}

.bg-img {
  opacity: 0.65;
  display: block;
  height: 100%;
  min-width: 750px;
}

.bg-img img {
  width: 100%;
  min-height: 525px;
}

.button-custom {
  font-size: 1.1em;
  font-weight: 600;
  padding: 15px 25px 15px 25px;
  background: #40cb90;
  border: none;
}

.button-custom:hover {
  background: #53D09B;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}

.marketing h2 {
  font-weight: normal;
}

.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

.centered {
  text-align: center;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0;
  /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

/* SLIDE CREATION
------------------------- */
#row-column-positions {
  float: right;
  text-align: right;
  margin-right: 20px;
}

#title-input-field {
  width: 33%;
}

#slide-creator {
  display: block;
  margin-top: 30px;
}

#markdown-input-block {
float: left;
  margin-right: 2%;
  width: 48%;
}

#markdown-preview-block {
  display: inline-block;
  max-height: 415px;
  width: 48%;
}

#markdown-preview {
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 415px;
  overflow: auto;
}

#slide-container #markdown-preview {
  border: none;
  height: 100%;
}

#slide-container img {
  /*width: 100%;*/
}

#add-column, #add-row {
  font-size: 450%;
  opacity: 0.1;
  position: relative;
  position: absolute;
  transition: opacity 0.3s;
  transition: color 0.3s;
}

#add-column:hover, #add-row:hover {
  color: #40cb90;
  cursor: pointer;
  opacity: 1;
}

#add-column {
  margin-right: 37.5px;
  right: 0;
  top: 45%;
}

#add-row {
  left: 45%;
  margin-left: 20px;
  top: 85%;
}

.publish-slides,
button.at-btn {
  background: #40cb90;
  border: none;
  font-size: 1.4em;
  margin-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

.publish-slides:hover,
button.at-btn:hover {
  background: #53D09B;
  color: white;
}

button.at-btn {
  width: 100px;
  color: white;
}

button.at-btn:focus {
  outline: none;
  background: #53D09B;
  color: white;
  border: 1px solid white;
}

div.at-signin-link p {
  margin-top: 20px;
  text-align: left;
}

/* SLIDES
-------------------------------------------------- */
#slide-container {
  padding: 20px 40px 20px 40px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */
@media (min-width: 300px) {
  .carousel-caption h1 {
    font-family: 'Open Sans';
    font-size: 2.2em;
    font-weight: 500;
    margin-bottom: 40px;
  }
  .carousel-caption {
    margin-bottom: 60px;
  }
  .navbar-toggle {
    border: 1px solid white !important;
  }
  .navbar-toggle:hover {
    background-color: #53D09B !important;
  }
}

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }
  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: -20px;
    font-size: 21px;
    line-height: 1.4;
  }
  .featurette-heading {
    font-size: 50px;
  }
  .carousel-caption h1 {
    font-family: 'Open Sans';
    font-size: 3em;
    font-weight: 600;
    margin-bottom: 40px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

/*
  .slide {
    padding-top: 60px;
  }*/
.slide > h1{
  font-size: 3.5em;

}

.slide > h2{
  font-size: 3em;

}
.slide > h3{
  font-size: 2em;

}

.slide > h4{
  font-size: 1.5em;

}

.slide > p{
  font-size: 1.5em;

}


