<template name="header"> <!-- this includes navBar --> 
  <div class="ui large inverted menu leopardNav">
    <a class="left item leopardNav" href="{{pathFor 'intro'}}"> 
      <i class="home icon"></i> Home
    </a>
    <a class="item leopardNav title" href="{{pathFor 'intro'}}"> 
     <h2>LeopardSpot</h2>
    </a>
    <div class="right menu leopardNav">
      {{#if currentUser}}
      <div  id="logout">
        <a class="item leopardNav">
          <i class="sign out icon"></i> Log Out
        </a>
      </div>
      {{else}}
      <a class="item leopardNav" href="{{pathFor 'signup'}}">
        <i class="user icon"></i> Sign Up / Log-In
      </a>
      {{/if}}
    </div>
  </div>
</template>

