<template name="makePresentation">


  <form id="mdRawForm">
    <div class="ui form large segment textEditor">

      <div class="ui labeled input textEditor">
        <div class="ui label textEditor">
          Presentation Title
        </div>
        <input type="text" class="textEditor" id="presentationTitle" placeholder="Enter new title here...">
      </div>

      <textarea id="mdRawTextArea" class="textEditor" placeholder="Type slide markdown here, separating slides with * * *. For an online markdown editor, use http://dillinger.io/"></textarea>

      <button class="ui button create" type="submit" value="submit">Create!</button>
    </div>

    <!-- <div class="segment presentationCommands">
      <div class="ui steps presentationCommands">
        <a class="step">
          <div class="content">
            <div class="title">Save Presentation</div>
          </div>
        </a>
        <a class="active step">
          <div class="content">
            <div class="title">New Presentation</div>
          </div>
        </a>
      </div>
    </div> -->

  </form>





</template>